:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

ul li {
  list-style-type: none;
}

/* ------Header */
header {
  background-color: #F3F3F3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .4rem;
}

header ul{
  display: flex;
  flex-flow: row wrap;
  margin-right: 1rem;
}

header ul li a{
  color: black;
  font-weight: bold;
  padding-left: 1rem;
  font-size: 1.5vh;
  padding-right: .5rem;
  white-space: nowrap;
  text-decoration: none;
}

header ul li a:hover{
  color: #5182BE;
}

header a img {
  width: 20vh;
  padding-left: 1.5vh;
}


/* ------Footer */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .4rem 0;
  background-color: #F3F3F3;;
  border-top: rgb(196, 196, 196) 1px solid;

  /* margin-bottom: 0px;
  bottom: 0px; */
  
  /* height: 10vh;
  width: 100%;
  right: 0;
  left: 0; */
  align-items: flex-end;
}

footer ul{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 1rem;
}

footer ul li a{
  color: #5182BE;
  padding-left: 1rem;
  font-size: 1.5vh;
  padding-right: .5rem;
  white-space: nowrap;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

footer ul li a:visited{
   color: #5182BE;
}

footer ul li a img{
  height: 3vh;
}

footer ul li p{
  color: rgb(162, 162, 162);
  font-size: 1.5vh;
}


/* ------Main Section */
main {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-around;
}

figure{
  margin:2rem 1rem;
}

figure img{
  width: 48vh;
  border: 1px solid #CACACA;
  padding: 1rem;
}

figure figcaption img{
  width: 4vh;
  border-radius: 5px;
  font-size: 3rem;
  border: none;
  padding: 0;
  margin: 0;
}

figcaption{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

figcaption a span{
  padding-left: .5rem;
}

